.footer {
  background-color: #000000;
  color: white;
  text-align: right; 
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  box-sizing: border-box;
}

.footer img {
  margin-right: 0.5rem; 
}

.footer p {
  margin: 0; 
}
