@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: #000000;
  color: white;
  text-align: right; 
  padding: 1rem;
  position: relative;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  box-sizing: border-box;
}

.footer-logo {
  margin-right: 0.5rem;
}

.footer p {
  margin: 0;
}
