
.heading {
    font-size: 75px;
    margin-bottom: 50px;
}

.ima {
    margin-top: 40px;
    width: 210px; 
    height: 290px; 
    overflow: hidden;
    position: relative; 
}

.ima img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}



.profiles {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
    justify-content: center; 
    margin-bottom: 10px;
}

.profiles1 {
    display: flex;
    flex-wrap: wrap; 
    gap: 120px; 
    margin-left: 30px;
    margin-bottom: 10px;
}


button {
    background-color: transparent; 
    border: none;
    padding: 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

button i {
    font-size: 40px; 
}


.linkedin-button i {
    color: #0077b5;
}

.linkedin-button:hover i {
    transform: scale(1.2); 
}


.github-button i {
    color: #333;
}

.github-button:hover i {
    transform: scale(1.2);
}


.instagram-button i {
    color: #e1306c;
}

.instagram-button:hover i {
    transform: scale(1.2);
}

.link{

    display: flex;
    gap: 25px;
    margin-bottom: 70px;
}

.page-link {
    display: flex;
    flex-wrap: wrap;
    gap: 90px; 
    margin-left: 27px;
    margin-bottom: 10px;
}

.details {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    gap: 10px;
}

.ali{
    display: flex;
    flex-direction: column;
    align-items: center;
}
